<div class="container">
    <div class="card text-center" style="display: inline-block">
        <div class="row">
            <div class="col-md-12">
                <img src="/assets/img/profile.png" class="img-card rounded-start" alt="user">
            </div>
            <div class="card-body">
                <h5 class="mb-3 card-title">Company Details:</h5>
                <p class="mb-3 card-text"><strong>Name: </strong>{{company.name}}</p>
                <p class="mb-3 card-text"><strong>Email: </strong>{{company.email}}</p>
                <p class="mb-3 card-text"><strong>Password: </strong>{{company.password}}</p>
            </div>
        </div>
    </div>
</div>