<div class="container">
    <div class="card text-center" style="display: inline-block">
        <div class="row">
            <div class="col-md-12">
                <img src="/assets/img/profile.png" class="img-card rounded-start" alt="user">
            </div>
            <div class="card-body">
                <h5 class="mb-3 card-title">Your Details:</h5>
                <p class="mb-3 card-text"><strong>Full Name: </strong>{{customer.firstName}} {{customer.lastName}}
                </p>
                <p class="mb-3 card-text"><strong>Email: </strong>{{customer.email}}</p>
                <p class="mb-3 card-text"><strong>Password: </strong>{{customer.password}}</p>
            </div>

        </div>
    </div>
</div>